In [121]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

In [133]:
driver = webdriver.Chrome(r"E:\New folder (2)\Desktop\chromedriver_win32 (1)/chromedriver.exe")

<ipython-input-133-362f25dbbb78>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"E:\New folder (2)\Desktop\chromedriver_win32 (1)/chromedriver.exe")

In [134]:
url = 'https://www.cars24.com'
driver.get(url)

In [135]:
used_cars = driver.find_element_by_xpath('//ul[@class ="float-right _1yq3e"]/li[3]/a').click()

<ipython-input-135-ead96fc17805>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  used_cars = driver.find_element_by_xpath('//ul[@class ="float-right _1yq3e"]/li[3]/a').click()

In [125]:
model = []
location=[]
price =[]
urls =[]
km = []
fuel =[]
owner=[]

In [126]:
product_click = driver.find_elements_by_xpath('//a[@class = "_9Ue0B"]')
for i in range(0,1):
    for a in product_click:
        time.sleep(3)
        urls.append(a.get_attribute('href'))
        time.sleep

<ipython-input-126-2840bcc772cf>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_click = driver.find_elements_by_xpath('//a[@class = "_9Ue0B"]')

In [139]:
for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//h2[@class="_3FpCg"]'):
            model.append(a.text)
            
    except NoSuchElementException:
        model.append("-")

<ipython-input-139-d7bd9d49f79f>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//h2[@class="_3FpCg"]'):

In [140]:
print(len(model))

234

In [118]:


for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//span[@class="_2OIMj"]'):
            location.append(a.text)
            
    except NoSuchElementException:
        location.append("-")

<ipython-input-118-2163d2dbbb12>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//span[@class="_2OIMj"]'):

In [119]:
location

['Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida']

In [128]:


for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//div[@class="_7udZZ"]'):
            price.append(a.text)
            
    except NoSuchElementException:
        price.append("-")

<ipython-input-128-f02808f39353>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//div[@class="_7udZZ"]'):

In [63]:
price

['₹6,91,199',
 '₹4,14,799',
 '₹4,21,699',
 '',
 '₹4,80,099',
 '₹3,13,599',
 '₹4,59,599',
 '',
 '₹10,50,299',
 '₹9,40,799',
 '₹8,25,299',
 '₹4,05,199',
 '₹4,80,099',
 '₹3,13,599',
 '',
 '₹5,98,999',
 '₹4,14,799',
 '₹4,05,199',
 '',
 '₹12,71,199',
 '₹4,05,199',
 '₹4,80,099',
 '',
 '₹4,59,599',
 '₹4,55,299',
 '₹4,30,299',
 '',
 '₹6,91,199',
 '₹12,71,199',
 '₹4,05,199',
 '',
 '₹6,69,099',
 '₹5,34,299',
 '₹6,54,399',
 '',
 '₹4,82,699',
 '₹6,91,199',
 '₹12,71,199',
 '',
 '₹5,25,199',
 '₹4,55,499',
 '₹4,80,099',
 '',
 '₹6,58,799',
 '₹4,82,699',
 '₹6,91,199',
 '',
 '₹5,83,799',
 '₹4,55,499',
 '₹4,80,099',
 '',
 '₹5,83,799',
 '₹6,58,799',
 '₹4,82,699',
 '',
 '₹5,83,799',
 '₹4,55,499',
 '₹4,80,099',
 '',
 '₹5,11,099',
 '₹5,25,199',
 '₹5,83,799',
 '',
 '₹6,69,099',
 '₹6,58,799',
 '₹5,34,299',
 '',
 '₹6,54,399',
 '₹5,11,099',
 '₹5,25,199',
 '',
 '₹4,59,599',
 '₹4,80,999',
 '₹4,30,299',
 '',
 '₹6,54,399',
 '₹5,11,099',
 '₹5,25,199',
 '',
 '₹7,11,199',
 '₹8,08,499',
 '₹8,18,899',
 '',
 '₹5,03,799',
 '₹6,54,399',
 '₹5,11,099',
 '',
 '₹8,80,499',
 '₹7,00,299',
 '₹7,19,399',
 '₹8,25,299',
 '₹5,03,799',
 '₹6,54,399',
 '',
 '₹7,00,299',
 '₹8,27,899',
 '₹7,17,099',
 '₹7,84,299',
 '₹8,25,299',
 '₹5,03,799',
 '',
 '₹3,54,299',
 '₹3,43,599',
 '₹3,79,299',
 '₹7,08,499',
 '₹7,84,299',
 '₹8,25,299',
 '',
 '₹7,19,399',
 '₹8,80,499',
 '₹8,27,899',
 '₹3,90,599',
 '₹7,08,499',
 '₹7,84,299',
 '',
 '₹7,19,399',
 '₹7,84,299',
 '₹8,56,199',
 '₹8,56,199',
 '₹3,90,599',
 '₹7,08,499',
 '',
 '₹5,98,999',
 '₹4,14,799',
 '₹5,03,799',
 '',
 '₹8,80,499',
 '₹8,56,199',
 '₹3,90,599',
 '',
 '₹4,55,299',
 '₹4,59,599',
 '₹4,68,599',
 '',
 '₹6,01,799',
 '₹8,80,499',
 '₹8,56,199',
 '',
 '₹3,72,899',
 '₹4,59,599',
 '₹6,01,799',
 '₹8,80,499',
 '',
 '₹5,25,199',
 '₹4,55,499',
 '₹5,83,799',
 '',
 '₹3,13,599',
 '₹4,59,599',
 '₹6,01,799',
 '']

In [129]:
for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]'):
            km.append(a.text)
            
    except NoSuchElementException:
        km.append("-")

<ipython-input-129-dbff0fee4dfd>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[1]'):

In [18]:
km

['70,555 km',
 '52,134 km',
 '62,254 km',
 '',
 '49,944 km',
 '77,035 km',
 '1,41,516 km',
 '',
 '83,414 km',
 '49,944 km',
 '1,41,516 km',
 '',
 '49,944 km',
 '83,414 km',
 '77,035 km',
 '',
 '1,14,510 km',
 '1,18,117 km',
 '45,347 km',
 '10,316 km',
 '7,949 km',
 '43,382 km',
 '',
 '1,11,192 km',
 '1,14,510 km',
 '1,18,117 km',
 '',
 '49,944 km',
 '1,41,516 km',
 '1,14,510 km',
 '',
 '1,22,972 km',
 '1,11,192 km',
 '1,14,510 km',
 '',
 '76,264 km',
 '41,996 km',
 '1,02,773 km',
 '83,414 km',
 '1,22,972 km',
 '1,11,192 km',
 '',
 '1,02,773 km',
 '41,996 km',
 '1,12,335 km',
 '',
 '64,156 km',
 '83,414 km',
 '1,22,972 km',
 '',
 '1,02,773 km',
 '44,609 km',
 '24,652 km',
 '',
 '1,06,657 km',
 '68,276 km',
 '64,156 km',
 '',
 '1,02,773 km',
 '1,12,335 km',
 '68,276 km',
 '',
 '1,06,657 km',
 '68,276 km',
 '64,156 km',
 '',
 '76,264 km',
 '41,996 km',
 '56,552 km',
 '',
 '24,652 km',
 '1,06,657 km',
 '68,276 km',
 '',
 '62,254 km',
 '70,555 km',
 '52,134 km',
 '',
 '1,12,335 km',
 '24,652 km',
 '1,06,657 km',
 '',
 '1,06,657 km',
 '76,264 km',
 '56,552 km',
 '',
 '33,836 km',
 '1,12,335 km',
 '24,652 km',
 '',
 '54,687 km',
 '34,749 km',
 '83,741 km',
 '',
 '44,609 km',
 '33,836 km',
 '1,12,335 km',
 '',
 '34,749 km',
 '21,675 km',
 '83,741 km',
 '21,675 km',
 '44,609 km',
 '33,836 km',
 '',
 '10,316 km',
 '1,22,972 km',
 '7,949 km',
 '',
 '52,001 km',
 '21,675 km',
 '44,609 km',
 '',
 '70,555 km',
 '62,254 km',
 '33,836 km',
 '',
 '43,382 km',
 '52,001 km',
 '21,675 km',
 '',
 '10,316 km',
 '1,22,972 km',
 '7,949 km',
 '',
 '52,134 km',
 '43,382 km',
 '52,001 km',
 '',
 '21,169 km',
 '47,149 km',
 '22,443 km',
 '',
 '64,702 km',
 '52,134 km',
 '43,382 km',
 '',
 '1,02,773 km',
 '41,996 km',
 '66,741 km',
 '',
 '25,232 km',
 '64,702 km',
 '52,134 km',
 '']

In [93]:
print(len(km))

131

In [130]:
for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]'):
            fuel.append(a.text)
            
    except NoSuchElementException:
        fuel.append("-")

<ipython-input-130-a37eaf58e4a7>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[3]'):

In [92]:
fuel

['Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Petrol',
 'Diesel',
 'Diesel',
 '',
 'Petrol',
 'Petrol',
 'Petrol',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Petrol',
 'Petrol',
 'Petrol',
 '',
 'Diesel',
 'Petrol',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '']

In [131]:
for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]'):
            owner.append(a.text)
            
    except NoSuchElementException:
        owner.append("-")

<ipython-input-131-7164b71f3183>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for a in driver.find_elements_by_xpath('//ul[@class="bVR0c"]/li[2]'):

In [49]:
owner

['1st Owner',
 '1st Owner',
 '2nd Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '3rd Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '2nd Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '']

In [81]:
model 
location
price
km 
fuel 
owner

['2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '3rd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '3rd Owner',
 '1st Owner',
 '',
 '3rd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '3rd Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '2nd Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '2nd Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '2nd Owner',
 '1st Owner',
 '',
 '1st Owner',
 '1st Owner',
 '1st Owner',
 '',
 '2nd Owner',
 '2nd Owner',
 '2nd Owner',
 '',
 '1st Owner',
 '1st Owner',
 '2nd Owner',
 '2nd Owner',
 '']

In [97]:
km

['70,555 km',
 '33,836 km',
 '62,254 km',
 '',
 '74,123 km',
 '56,552 km',
 '58,123 km',
 '',
 '49,944 km',
 '1,41,516 km',
 '1,11,192 km',
 '45,347 km',
 '74,123 km',
 '56,552 km',
 '',
 '1,71,099 km',
 '1,88,693 km',
 '5,822 km',
 '1,14,510 km',
 '45,347 km',
 '74,123 km',
 '',
 '55,437 km',
 '77,990 km',
 '23,258 km',
 '',
 '74,189 km',
 '1,14,510 km',
 '45,347 km',
 '',
 '1,41,516 km',
 '1,14,510 km',
 '1,11,192 km',
 '54,918 km',
 '74,189 km',
 '1,14,510 km',
 '',
 '77,035 km',
 '49,944 km',
 '1,14,510 km',
 '49,944 km',
 '54,918 km',
 '74,189 km',
 '',
 '1,02,773 km',
 '50,093 km',
 '56,552 km',
 '',
 '1,11,192 km',
 '49,944 km',
 '54,918 km',
 '',
 '76,264 km',
 '1,11,192 km',
 '49,944 km',
 '',
 '67,510 km',
 '76,264 km',
 '1,11,192 km',
 '',
 '41,629 km',
 '71,192 km',
 '96,542 km',
 '1,20,326 km',
 '67,510 km',
 '76,264 km',
 '',
 '68,276 km',
 '72,636 km',
 '41,996 km',
 '18,206 km',
 '13,016 km',
 '1,20,326 km',
 '',
 '1,02,773 km',
 '41,996 km',
 '24,652 km',
 '',
 '18,206 km',
 '13,016 km',
 '1,20,326 km',
 '',
 '1,02,773 km',
 '24,652 km',
 '1,12,335 km',
 '',
 '68,276 km',
 '18,206 km',
 '13,016 km',
 '',
 '1,02,773 km',
 '76,264 km',
 '24,652 km',
 '',
 '1,06,657 km',
 '68,276 km',
 '18,206 km',
 '',
 '34,459 km',
 '50,093 km',
 '1,06,657 km',
 '',
 '20,685 km',
 '34,459 km',
 '50,093 km',
 '1,06,657 km',
 '',
 '60,395 km',
 '92,569 km',
 '62,254 km',
 '1,38,351 km',
 '92,519 km',
 '34,459 km',
 '',
 '1,38,351 km',
 '92,519 km',
 '34,459 km',
 '',
 '1,02,773 km',
 '41,996 km',
 '24,652 km',
 '',
 '56,552 km',
 '58,123 km',
 '1,38,351 km',
 '',
 '44,609 km',
 '56,552 km',
 '58,123 km',
 '1,38,351 km',
 '']

In [96]:
price

['₹6,60,999',
 '₹6,53,399',
 '₹5,40,099',
 '',
 '₹4,59,799',
 '₹4,68,599',
 '₹5,75,199',
 '',
 '₹3,98,499',
 '₹3,54,299',
 '₹3,76,199',
 '₹5,53,599',
 '₹4,59,799',
 '₹4,68,599',
 '',
 '₹11,36,999',
 '₹17,70,999',
 '₹14,54,599',
 '₹12,46,699',
 '₹3,30,699',
 '₹5,53,599',
 '',
 '₹4,76,199',
 '₹6,79,199',
 '₹4,89,699',
 '',
 '₹4,55,499',
 '₹12,46,699',
 '₹3,30,699',
 '',
 '₹3,30,699',
 '₹3,98,499',
 '₹3,76,199',
 '₹3,54,299',
 '₹4,55,499',
 '₹12,46,699',
 '',
 '₹4,05,499',
 '₹3,54,299',
 '₹3,30,699',
 '₹3,76,199',
 '₹3,54,299',
 '₹4,55,499',
 '',
 '₹4,30,299',
 '₹4,68,599',
 '₹4,50,199',
 '',
 '₹3,76,199',
 '₹3,54,299',
 '₹4,55,499',
 '',
 '₹4,55,299',
 '₹3,76,199',
 '₹3,54,299',
 '',
 '₹4,11,699',
 '₹4,55,299',
 '₹3,76,199',
 '',
 '₹7,84,299',
 '₹7,20,399',
 '₹8,19,899',
 '₹3,03,999',
 '₹4,11,699',
 '₹4,55,299',
 '',
 '₹4,12,299',
 '₹4,18,999',
 '₹4,29,499',
 '₹9,63,299',
 '₹3,03,999',
 '₹4,11,699',
 '',
 '₹4,30,299',
 '₹4,12,299',
 '₹4,21,799',
 '',
 '₹4,27,699',
 '₹9,63,299',
 '₹3,03,999',
 '',
 '₹4,30,299',
 '₹4,43,499',
 '₹4,21,799',
 '',
 '₹4,18,999',
 '₹4,27,699',
 '₹9,63,299',
 '',
 '₹4,30,299',
 '₹4,55,299',
 '₹4,21,799',
 '',
 '₹4,45,099',
 '₹4,18,999',
 '₹4,27,699',
 '',
 '₹4,50,199',
 '₹4,45,099',
 '₹4,18,999',
 '',
 '₹3,56,699',
 '₹4,67,299',
 '₹4,50,199',
 '₹4,45,099',
 '',
 '₹6,83,399',
 '₹6,69,099',
 '₹5,40,099',
 '₹3,02,799',
 '₹4,67,299',
 '₹4,50,199',
 '',
 '₹5,36,599',
 '₹3,02,799',
 '₹4,67,299',
 '',
 '₹4,30,299',
 '₹4,12,299',
 '₹4,21,799',
 '',
 '₹5,75,199',
 '₹5,36,599',
 '₹3,02,799',
 '',
 '₹4,43,499',
 '₹4,68,599',
 '₹5,75,199',
 '₹5,36,599',
 '']

In [95]:
location

['Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida']

In [98]:
fuel

['Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Petrol',
 'Diesel',
 'Diesel',
 '',
 'Petrol',
 'Petrol',
 'Petrol',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Petrol',
 'Petrol',
 'Petrol',
 '',
 'Diesel',
 'Petrol',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 '',
 'Diesel',
 'Diesel',
 'Petrol',
 '',
 'Diesel',
 'Diesel',
 'Diesel',
 'Diesel',
 '']

In [141]:
print(len(model),len(price),len(km),len(fuel),len(owner))

234 130 130 130 130

In [150]:
import pandas as pd
df = pd.DataFrame({})
df['price']=price
df['km']=km
df['fuel']=fuel
df['owner']=owner

In [152]:
df

         price           km    fuel      owner
0    ₹6,60,999    70,555 km  Diesel  2nd Owner
1    ₹6,53,399    33,836 km  Diesel  1st Owner
2    ₹5,40,099    62,254 km  Diesel  1st Owner
3
4    ₹4,68,599    56,552 km  Diesel  1st Owner
..         ...          ...     ...        ...
125
126  ₹5,75,199    58,123 km  Diesel  2nd Owner
127  ₹5,36,599  1,38,351 km  Diesel  2nd Owner
128  ₹3,02,799    92,519 km  Petrol  2nd Owner
129

[130 rows x 4 columns]

In [153]:
df.to_csv("usedcar.csv",index=False)

In [154]:
import pandas as pd
#import pandas.plotting._core.PlotAccessor
import pandas.plotting as  pl

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.figure as fig
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [155]:
print(df)

         price           km    fuel      owner
0    ₹6,60,999    70,555 km  Diesel  2nd Owner
1    ₹6,53,399    33,836 km  Diesel  1st Owner
2    ₹5,40,099    62,254 km  Diesel  1st Owner
3
4    ₹4,68,599    56,552 km  Diesel  1st Owner
..         ...          ...     ...        ...
125
126  ₹5,75,199    58,123 km  Diesel  2nd Owner
127  ₹5,36,599  1,38,351 km  Diesel  2nd Owner
128  ₹3,02,799    92,519 km  Petrol  2nd Owner
129

[130 rows x 4 columns]

In [156]:
df.head()

       price         km    fuel      owner
0  ₹6,60,999  70,555 km  Diesel  2nd Owner
1  ₹6,53,399  33,836 km  Diesel  1st Owner
2  ₹5,40,099  62,254 km  Diesel  1st Owner
3
4  ₹4,68,599  56,552 km  Diesel  1st Owner

BY using head method we are able to see the most upper data.
by which we can analize to the data.

In [157]:
df.shape

(130, 4)

30 rows 17 columns as per analize

In [158]:
df.columns

Index(['price', 'km', 'fuel', 'owner'], dtype='object')

In [159]:
df.dtypes

price    object
km       object
fuel     object
owner    object
dtype: object

To see the data type in the given data.

In [160]:
df.describe()

       price   km    fuel      owner
count    130  130     130        130
unique    43   44       3          4
top                Diesel  1st Owner
freq      27   27      86         75

In [161]:
from sklearn.preprocessing import LabelEncoder

In [163]:
le = LabelEncoder()
for column in df.columns:
    if df[column].dtype == np.number:
        continue
    df[column] = LabelEncoder().fit_transform(df[column])

In [176]:
df

     price  km  fuel  owner  price_t
0       35  34     1      2       35
1       34  16     1      1       34
2       31  31     1      1       31
3        0   0     0      0        0
4       27  27     1      1       27
..     ...  ..   ...    ...      ...
125      0   0     0      0        0
126     33  29     1      2       33
127     30   7     1      2       30
128      5  41     2      2        5
129      0   0     0      0        0

[130 rows x 5 columns]

In [174]:
df['price'] = df ['price_t']
#df['total_claim_amount_t'] = df ['total_claim_amount']

In [178]:
df.drop("price", axis = 1, inplace = True)

In [179]:
df

     km  fuel  owner  price_t
0    34     1      2       35
1    16     1      1       34
2    31     1      1       31
3     0     0      0        0
4    27     1      1       27
..   ..   ...    ...      ...
125   0     0      0        0
126  29     1      2       33
127   7     1      2       30
128  41     2      2        5
129   0     0      0        0

[130 rows x 4 columns]

In [180]:
x=df.iloc[:,: -1]

In [181]:
x

     km  fuel  owner
0    34     1      2
1    16     1      1
2    31     1      1
3     0     0      0
4    27     1      1
..   ..   ...    ...
125   0     0      0
126  29     1      2
127   7     1      2
128  41     2      2
129   0     0      0

[130 rows x 3 columns]

In [183]:
y=df.iloc[:,-1]

In [184]:
y

0      35
1      34
2      31
3       0
4      27
       ..
125     0
126    33
127    30
128     5
129     0
Name: price_t, Length: 130, dtype: int32

In [185]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)

In [189]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators= 10, criterion = 'entropy', random_state = 0)
forest.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [190]:
forest.score(x_train,y_train)

0.9807692307692307

In [191]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, forest.predict(x_test))


TN = cm[0][0]
TP = cm[1][1]
FN = cm[1][0]
FP = cm[0][1]

In [192]:
print(cm)
print('Model Testing Accuracy = {}'.format((TP + TN) / (TP + TN + FN + FP)))

[[8 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]
Model Testing Accuracy = 1.0

In [194]:
mnb = MultinomialNB()
mnb.fit(x_train,y_train)
predmnb = mnb.predict(x_test)
print(accuracy_score(y_test,predmnb))
print(confusion_matrix(y_test,predmnb))
print(classification_report(y_test,predmnb))

0.3076923076923077
[[8 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]]
              precision    recall  f1-score   support

           0       0.62      1.00      0.76         8
           6       0.00      0.00      0.00         1
           7       0.00      0.00      0.00         0
           8       0.00      0.00      0.00         0
          10       0.00      0.00      0.00         2
          11       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         2
          20       0.00      0.00      0.00         1
          21       0.00      0.00      0.00         2
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         0
          24       0.00      0.00      0.00         0
          26       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          31       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         1

    accuracy                           0.31        26
   macro avg       0.03      0.05      0.04        26
weighted avg       0.19      0.31      0.23        26

In [195]:
svc = SVC(kernel='rbf') # kernel = 'rbf is -----by defult'
svc.fit(x_train,y_train)
svc.score(x_train,y_train)
presvc = svc.predict(x_test)
print(accuracy_score(y_test,presvc))
print(confusion_matrix(y_test,presvc))
print(classification_report(y_test,presvc))

0.3076923076923077
[[8 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]]
              precision    recall  f1-score   support

           0       0.57      1.00      0.73         8
           6       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         0
          10       0.00      0.00      0.00         2
          11       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         2
          20       0.00      0.00      0.00         1
          21       0.00      0.00      0.00         2
          22       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         0
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         0
          28       0.00      0.00      0.00         1
          31       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         1

    accuracy                           0.31        26
   macro avg       0.03      0.05      0.04        26
weighted avg       0.18      0.31      0.22        26

In [ ]:
#Accuracy of random forest is  good is only 98 percent.